/*General Page Styling*/
.link {
	font-weight: bold;
	text-decoration: underline;
}
/*Page Style*/
body {
	font-family: "Lato", sans-serif;
	transition: background-color 0.9s;
	margin: 0;
	    overflow-y: auto;

}
#main {
	transition: margin-left 0.9s;
	width: 100vw !important;
		width: 100%;

}
#main.disabled {
	float: left;
	overflow: hidden;
	position: fixed;
			z-index: 0 !important;
}
/**************** Main Header ****************/

/* file: inc/ */
#header-bar {
	z-index: 1;
	background: #005495;
	color: white;
	height: 60px;
	line-height: 55px;
	position: relative;
}
#tab-bar-center {
	text-align: center;
}
#tab-bar-center .cc-logo {
	width: auto;
	height: 30px;
	margin-left: 11px;
}
#tab-bar-left {
	text-align: left;
	float: left;
}
#tab-bar-right {
	padding: 0 !important;
}
#tab-bar-right #right-menu-icons {
	float: right;
	display: inline-flex;
}
/* Top Menu Icons*/
div#line {
	display: inline;
	border-left: 1px solid rgba(217, 217, 217, 0.61);
	height: 20px;
	margin-top: 18px;
	margin-right: 10px;
}
.menu_icon {
	width: auto;
	height: 20px;
}
#online-cart {
	width: 52px;
	text-align: center;
	    height: 60px;
}
#locate-product {
	width: 52px;
	text-align: center;
    height: 60px;
}

/*Shoping Cart Popup*/
#shopping-cart {
	display: inline;
}
.cartPopup::before {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #ffffff;
	top: -8px;
	position: absolute;
	right: 3px;
}
.cartPopup {
	display: none;
	width: 280px;
	height: 300px;
	right: 0px;
	position: absolute;
	padding: 16px 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
	box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
	z-index: 2;
}
.cartPopup.active {
	display: block !important;
}
.cart-icon.active {
	background: #013366;
}

/*************** *Product Search* **************/
/* Search Area - Header - index.php */
#ProductSearch {
	transform: translateY(-160%);
	transition: all 0.3s ease-in;
	height: 75px;
	position: absolute;
	background: #013366;
	border-bottom: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
	box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
    width: 100vw !important;
	    width: 100%;
    padding: 15px;
}

/* Search outer DIV - Active, index.php */
#ProductSearch.active {
	transform: translateY(0);
}
/* Search outer DIV - Active, index.php */
.search-icon.active {
	background: #013366;
}

#ProductSearch #search-area {
    margin-left: 0px;
    margin-right: 0px;
    background: #FFF;
    border: 2px solid #ffffff;
}

/* Search Field, inc/search.php */
#ProductSearch #header-search-field {
    padding: 0;
    width: 97.6%;
}

/* Product Search - input, inc/search.php */
#ProductSearch input#FindProduct {
	width: 100%;
	height: 44px;
	border: none;
}

#ProductSearch #header-search-button {
    padding: 0;
    float: right;
    width: 2.4%;
}

#ProductSearch .site-search-submit {
    text-align: center;
    border: none;
    border-left: 1px solid #d9d9d9;
    background: #FFDD00;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
 line-height: 44px;
    padding: 0 11px;
    width: auto;
    max-width: 95px;
    white-space: nowrap;
    vertical-align: middle;
	font-family: "Lato", sans-serif;
    font-weight: 700;
    float: right;
}

/**************** Elements Disabled ****************/
#closemenu
{display: none;}
/**************** Elements Disabled when LEFT-SIDE-PUSH-MENU is Activated  ****************/
.left-side-menu-active #close-sidemenu,
.left-side-menu-active #openmenu,
.left-side-menu-active #main .cc-logo
{display: none;}
/**************** Elements Enabled when LEFT-SIDE-PUSH-MENU is Activated  ****************/
.left-side-menu-active #closemenu{
	display: block;
}

.left-side-menu-active #tab-bar-left {
    height: 60px;
}
/**************** LEFT-SIDE-PUSH-MENU ****************/

/*Side Menu*/
.sidenav.active {
	visibility: visible !important;
	transition: 0.9s;
}
.sidenav {
    background-color: #005495;	
	}
.sidenav {
	height: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.9s;
	padding-top: 60px;
	width: 0;
	visibility: hidden;
}
/*sidenav top bar*/
.sidenav #side-menu-top {
	position: fixed;
	top: 0;
	z-index: 10;
	height: 60px;
	width: 80%;
	line-height: 60px;
}

.left-side-menu-active  #side-menu-top{
	  background: #005495;
	  }
	  
.left-side-menu-active #menu-bar-center {
	text-align: center;
	vertical-align: middle;
	width: 66.66666667%;
}
/* LEFT-SIDE-PUSH-MENU - Right Icons */	
.left-side-menu-active #side-menu-top-right{
	    width: 16.66666667% !important;
		float:right;
	}
/*sidenav top bar - logo*/
.sidenav #side-menu-top .cc-logo {
	width: auto;
	height: 30px;
	margin-left: 11px;
}
/* sidenav top bar (Right)*/
.side-menu-right {
    display: inline-block;
    vertical-align: middle;
}
/* sidenav top bar (Right) - Exit Icons*/

div#side-menu-right-exit {
    float: right;
}
/* sidenav top bar (Right) - User Icons*/
#side-menu-right-icons {
 float: right;
}
/* sidenav top bar (Left)- My Account Icon*/
.sidenav #myaccount_icon {
	width: auto;
    height: 35px;
}
/*Main Menu Navigation*/
.sidenav #main_navigation {
    width: 100vw !important;
		width: 100%;
 transition:visibility 0.9s, opacity 0.9s;
}
/*Main Menu Navigation - Items */
.sidenav #main_navigation a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #f1f1f1;
	display: block;
	transition: 0.9s;
	border-bottom: 1px solid rgba(153, 153, 153, 0.45);
}
.sidenav #main_navigation a:hover, .sidenav #main_navigation a:focus {
	color: #f1f1f1;
	color: #fddb01;
}

/**************** LEFT-SIDE-PUSH-MENU - Elements Disabled when My Account is Activated  ****************/
.sidenav #sidemenu-close-myaccount,
.sidenav #myaccount,
.sidenav.myaccount #sidemenu-open-myaccount,
.sidenav.myaccount #closemenu,
.sidenav.myaccount #main_navigation,
.left-side-menu-active .myaccount #close-sidemenu  {
	display: none !important;
}
/*********************************************************** */


/**************** LEFT-SIDE-PUSH-MENU - Elements Enabled when My Account is Activated  ****************/
.left-side-menu-active .myaccount #side-menu-right-exit,
.left-side-menu-active .myaccount #sidemenu-close-myaccount,
.left-side-menu-active .myaccount #sidemenu-right-myaccount-home-icon,
.left-side-menu-active .myaccount #retunHome,
.left-side-menu-active .myaccount #myaccount{	
	display: block !important;
}

/**************** LEFT-SIDE-PUSH-MENU - My Account Area  ****************/

/* Account Area - Activated - Open Account Body to 100%*/
.left-side-menu-active .myaccount  {
	width: 100% !important;
	transition: 0.9s;
background-color: #f0f8ff !important;
}
.left-side-menu-active .myaccount #menu-bar-center {
width: 58.33333333%;
}
.left-side-menu-active .myaccount #myaccount {
	width: 100% !important;
 	height: 100%;
	height: 100vh !important;
	background-color: #f0f8ff;
	transition: 0.9s;
  -webkit-transition: background-color 0.9s ease-out;
  -moz-transition: background-color 0.9s ease-out;
  -o-transition: background-color 0.9s ease-out;
  transition: background-color 0.9s ease-out;
}
.left-side-menu-active .myaccount #side-menu-top{
	    width: 100% !important;
		transition: 0.9s;

	}

.left-side-menu-active .myaccount #side-menu-top-left {
    text-align: center;
	background-color: #f0f8ff;
}
.left-side-menu-active .myaccount #side-menu-top-right {
	    width: 25% !important;
		}

.left-side-menu-active .myaccount #side-menu-right-icons {
    float: left !important;

}


/* Account Area - Signin / Login Area Hight, inc/accountAccess.php */
#myaccount #membership-signin {
	height: 320px;
}
/* Account Area - Signup / Signup form Hight, inc/accountAccess.php */
#myaccount #membership-signup {
    height: 345px;
}


/* My Account - Banner Area, inc/accountAccess.php  */
#myaccount #members-advertising #header-banner {
    overflow: hidden;
    padding: 0;
}
/* My Account - Header Advertising - Image, inc/accountAccess.php  */
#myaccount #members-advertising #header-banner .banner {
    width: 130%;
}
/* My Account - Header Advertising bottom Space, inc/accountAccess.php  */
#myaccount #members-advertising {
    padding: 10px;
}
/* My Account - Members Form Area, inc/accountAccess.php  */
#myaccount form#login-form {
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    background: #fff;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    display: block;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    z-index: 1;
}

/* My Account - Form Tabs, inc/accountAccess.php */
#myaccount ul#membership-login-tabs {
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
   list-style-type: none;
}
/* , inc/accountAccess.php */
#myaccount li.tab-item {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    float: left;
    position: relative;
    top: 1px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
    text-decoration: none;
    width: 50%;
    color: #07c;
    font-weight: bold;
    padding: 15px 10px 16px 10px;
    z-index: 1;
}
/* , inc/accountAccess.php */
#myaccount li.login-tab.active-tab-item {
    background: #fff;
    color: #000 !important;
    font-weight: bold;
    padding: 15px 10px 16px 10px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
/* My Account - Terms and Conditions, inc/accountAccess.php */
#myaccount #terms-conditions {
    text-align: center;
    margin: 10px;
    padding: 8px 5px;
    border-radius: 3px;
    line-height: 16px;
    text-decoration: none !important;
    font-size: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* , inc/signup.php */
/*, inc/signin.php */
#myaccount .account-form-group {
    margin-bottom: 10px;
}



/**************** LEFT-SIDE-PUSH-MENU - Elements Disabled when Browse Products is Activated  ****************/

.sidenav #browse-all-categories,
.sidenav #browse-all-categories .submenu,
.sidenav #sidemenu-close-ShopByProducts,
.sidenav.browseproducts #closemenu,
.sidenav.browseproducts #sidemenu-open-myaccount,
.sidenav.browseproducts #main_navigation{
	    display: none !important;
	}
/**************** LEFT-SIDE-PUSH-MENU - Elements Disabled when Browse Products is Activated  ****************/
.sidenav.browseproducts #browse-all-categories .submenu,
.sidenav.browseproducts #retunHome,
.sidenav.browseproducts #browse-all-categories,
.sidenav.browseproducts #sidemenu-close-ShopByProducts,
.sidenav.browseproducts #retunHome{
	    display: block !important;
	}
/**************** LEFT-SIDE-PUSH-MENU - Browse All Products * ************** */

/* Browse All Products - Open LEFT-SIDE-PUSH-MENU body */
.sidenav.browseproducts {
	width: 100% !important;
	background-color: #013366;
	transition: 0.9s;
    -webkit-transition: background-color 0.9s ease-out;
    -moz-transition: background-color 0.9s ease-out;
    -o-transition: background-color 0.9s ease-out;
    transition: background-color 0.9s ease-out;
	}
	

.left-side-menu-active .browseproducts #side-menu-top{
    width: 100%;
	 width: 100vw !important;
		transition: 0.9s;
	}
	
.left-side-menu-active .browseproducts #menu-bar-center {
width: 58.33333333%;
}

.left-side-menu-active .browseproducts #side-menu-top-right {
	    width: 25% !important;
		}	
/* Browse All Products - GPS Icon */	
.left-side-menu-active .browseproducts #side-menu-right-icons {
    float: left !important;
}


	
/* Browse All Products - (Exit Area) LEFT-SIDE-PUSH-MENU Left Icon Area */	
.sidenav.browseproducts #side-menu-top-left {
    text-align: center;
	background-color: #013366;
		transition: 0.9s;
    -webkit-transition: background-color 0.9s ease-out;
    -moz-transition: background-color 0.9s ease-out;
    -o-transition: background-color 0.9s ease-out;
    transition: background-color 0.9s ease-out;
}

/* Browse All Products - Menu Area */	
.sidenav.browseproducts #browse-all-categories #accordion {
    width: 80%;
    margin-left: 30px;
}
.sidenav.browseproducts #browse-all-categories ul.side-nav {
    margin-top: 5px;
}

.sidenav.browseproducts #browse-all-categories ul.submenu {
    padding-top: 60px;
}
.sidenav.browseproducts #browse-all-categories ul.submenu li {
    list-style: none;
}


/* Browse All Products - Menu items Spacing */	
#menu-item-1,
#menu-item-2,
#menu-item-3,
#menu-item-4,
#menu-item-5,
#menu-item-6,
#menu-item-7,
#menu-item-8,
#menu-item-9,
#menu-item-10 {
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.45);
    padding: 4px 0 7px 0px;
	
}
#menu-item-10 {
    border: none !important;
}
/* Browse All Products - images before Menu items */	
.sidenav.browseproducts #browse-all-categories .activate-item {
    border: none !important;
}
.sidenav.browseproducts #browse-all-categories .am-panel::before{
    content: " ";
    color: #FFF;
    background-size: 100% 100%;
    float: left;
    left: 22px;
	    position: absolute;
	}
	/* Browse All Products - Computer_Hardware ICON before Menu item */	
.sidenav.browseproducts #browse-all-categories #menu-item-1::before{
	width: 23px;
    height: 24px;
	background-image: url(../images/browse-all-categories/Computer_Hardware.png);

	}
		/* Browse All Products - Desktop_PC_Servers ICON before Menu item */	
.sidenav.browseproducts #browse-all-categories #menu-item-2::before{
	width: 31px;
    height: 25px;
	background-image: url(../images/browse-all-categories/Desktop_PC_Servers.png);

	}		
	/* Browse All Products - Laptops_Tablets ICON before Menu item */	
.sidenav.browseproducts #browse-all-categories #menu-item-3::before{
	width: 27px;
    height: 19px;
	background-image: url(../images/browse-all-categories/Laptops_Tablets.png);

	}		
	/* Browse All Products - TV-Home-Theatre ICON before Menu item */	
.sidenav.browseproducts #browse-all-categories #menu-item-4::before{
	width: 33px;
    height: 17px;
	background-image: url(../images/browse-all-categories/TV-Home-Theatre.png);

	}	
	/* Browse All Products - Phone_Electronics ICON before Menu item */		
.sidenav.browseproducts #browse-all-categories #menu-item-5::before{
	width: 19px;
    height: 33px;
	background-image: url(../images/browse-all-categories/Phone_Electronics.png);

	}	
		/* Browse All Products - Cameras ICON before Menu item */	
.sidenav.browseproducts #browse-all-categories #menu-item-6::before{
	width: 30px;
    height: 24px;
	background-image: url(../images/browse-all-categories/Cameras.png);

	}	
	/* Browse All Products - Software_Gaming ICON before Menu item */		
.sidenav.browseproducts #browse-all-categories #menu-item-7::before{
	width: 31px;
    height: 22px;
	background-image: url(../images/browse-all-categories/Software_Gaming.png);

	}	
	/* Browse All Products - Surveillance ICON before Menu item */		
.sidenav.browseproducts #browse-all-categories #menu-item-8::before{
	width: 36px;
    height: 26px;
	background-image: url(../images/browse-all-categories/Surveillance.png);

	}		
	/* Browse All Products - Cables ICON before Menu item */	
.sidenav.browseproducts #browse-all-categories #menu-item-9::before{
	width: 33px;
    height: 18px;
	background-image: url(../images/browse-all-categories/Cables.png);

	}		
		/* Browse All Products - Business ICON before Menu item */
.sidenav.browseproducts #browse-all-categories #menu-item-10::before{
	width: 31px;
    height: 28px;
	background-image: url(../images/browse-all-categories/Business.png);
	}		

/*togle show & hide sub menu*/

.sidenav.browseproducts .am-panel.deactivate-item
 {display: none !important;}
.sidenav.browseproducts .am-panel.activate-item .am-collapse
 {display: block !important;}

.sidenav.browseproducts .activate-item h4
{font-size: 18px !important;}


.sidenav.browseproducts .activate-item .am-panel-hd {
    position: fixed !important;
    width: 100vw !important;
	width: 100%;
    background: #013366;
    height: 35px;
    margin-top: -16px;
    transition:  margin-top 0.3s;
}

.sidenav.browseproducts .am-panel.activate-item::before {
    position: fixed !important;
	margin-top: -5px;
}

.sidenav.browseproducts #browse-all-categories .am-panel.activate-item::after {
    content: "-";
    color: #FFF;
    float: right;
    right: 22px;
    position: fixed;
    font-size: 45px;
    top: 130px;
    z-index: 2;
}
.sidenav.browseproducts .am-panel::after {
    content: "+";
    color: #FFF;
    float: right;
    right: 22px;
    position: absolute;
    margin-top: -35px;
    font-size: 22px;
}
div#allCategories_header.enable::after {
    content: "back";
    float: right;
    right: 18px;
    position: fixed;
    color: #FFF !important;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
}
.sidenav.browseproducts .am-panel.activate-item .am-panel-bd {
    margin-top: 22px;
}

.sidenav.browseproducts .am-panel.activate-item li.sidebar {
    color: #f00;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(153, 153, 153, 0.45);
    padding: 10px;
    background: rgba(0, 84, 149, 0.35);
    border-radius: 10px;
    margin-bottom: 11px;}

.sidenav.browseproducts .am-panel.activate-item li.sidebar > a {
    color: #FFF;
    text-transform: capitalize !important;
    font-weight: normal !important;
}
/* ************** * HOME PAGE Section * ************** */

/* Disable Home page when side menu is active, views/home.php */
#body-content.disable {
    opacity: 0.2;
}

/*REMOVE BULLETS FROM UL, views/home.php */

#home ul.col4 {
    list-style-type: none;
    padding: 0;
}
/* Product Image, views/home.php */
#home span.product-img {
    display: block;
}
/* Product Price, views/home.php */

#home span.price-regular {
    display: block;
    color: #000000;
    font-weight: bold !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1.7em !important;
    line-height: 1em;
    text-decoration: none !important;
}

/* Product Description, views/home.php */
#home span.product-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 160px;
    white-space: normal;
}
/* ********************************************************** */