/*General Page Styling*/
.link {
	font-weight: bold;
	text-decoration: underline;
}
/*Page Style*/
body {
	font-family: "Lato", sans-serif;
	transition: background-color 0.9s;
	margin: 0;
}
#main {
	transition: margin-left 0.9s;
	width: 100vw;
}
#main.active {
	float: left;
	overflow: hidden;
	position: fixed;
}
/**************** Main Header ****************/
/* file: inc/ */
#header-bar {
	z-index: 1;
	background: #005495;
	color: white;
	height: 60px;
	line-height: 55px;
	position: relative;
}
#tab-bar-center {
	text-align: center;
}
#tab-bar-center .cc-logo {
	width: auto;
	height: 30px;
	margin-left: 11px;
}
#tab-bar-left {
	text-align: left;
	float: left;
}
#tab-bar-right {
	padding: 0 !important;
}
#tab-bar-right #right-menu-icons {
	float: right;
	display: inline-flex;
}
/* Top Menu Icons*/
div#line {
	display: inline;
	border-left: 1px solid rgba(217, 217, 217, 0.61);
	height: 20px;
	margin-top: 18px;
	margin-right: 10px;
}
.menu_icon {
	width: auto;
	height: 20px;
}
#online-cart {
	width: 52px;
	text-align: center;
	    height: 60px;
}
#locate-product {
	width: 52px;
	text-align: center;
    height: 60px;
}
#menu-bar-right {
	text-align: right;
	line-height: 60px;
	
}
/*Shoping Cart Popup*/
#shopping-cart {
	display: inline;
}
.cartPopup::before {
	content: "";
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #ffffff;
	top: -8px;
	position: absolute;
	right: 3px;
}
.cartPopup {
	display: none;
	width: 280px;
	height: 300px;
	right: 0px;
	position: absolute;
	padding: 16px 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
	box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
	z-index: 2;
}
.cartPopup.active {
	display: block !important;
}
.cart-icon.active {
	background: #013366;
}
/*************** *Product Search* **************/
/* Search Area - Header - index.php */
#ProductSearch {
	transform: translateY(-160%);
	transition: all 0.3s ease-in;
	height: 75px;
	position: absolute;
	background: #013366;
	border-bottom: 1px solid #d9d9d9;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
	box-shadow: 0 0 4px 1px rgba(0,0,0,.18);
    width: 100vw;
    padding: 15px;
}

/* Search outer DIV - Active, index.php */
#ProductSearch.active {
	transform: translateY(0);
}
/* Search outer DIV - Active, index.php */
.search-icon.active {
	background: #013366;
}

#ProductSearch #search-area {
    margin-left: 0px;
    margin-right: 0px;
    background: #FFF;
    border: 2px solid #ffffff;
}

/* Search Field, inc/search.php */
#ProductSearch #header-search-field {
    padding: 0;
    width: 97.6%;
}

/* Product Search - input, inc/search.php */
#ProductSearch input#FindProduct {
	width: 100%;
	height: 44px;
	border: none;
}

#ProductSearch #header-search-button {
    padding: 0;
    float: right;
    width: 2.4%;
}

#ProductSearch .site-search-submit {
    text-align: center;
    border: none;
    border-left: 1px solid #d9d9d9;
    background: #FFDD00;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
 line-height: 44px;
    padding: 0 11px;
    width: auto;
    max-width: 95px;
    white-space: nowrap;
    vertical-align: middle;
	font-family: "Lato", sans-serif;
    font-weight: 700;
    float: right;
}

/**************** SIDE MENU Section ****************/

/*Side Menu*/
.sidenav {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FFF;
	overflow-x: hidden;
	transition: 0.9s;
	padding-top: 60px;
	width: 0;
	visibility: hidden;

}
.sidenav.active {
	visibility: visible !important;
	    background-color: #005495;

}
/* Account Selection - Open Side Nav to 100%*/
.sidenav.active.open {
	width: 100% !important;
	transition: 0.9s;
	background: aliceblue !important;
}
/* Side Nav Header Area, index.php */
.sidenav #side-menu-top {
	position: fixed;
	top: 0;
	z-index: 10;
	height: 60px;
	width: 80vw;
	background: #005495;
}
.sidenav #side-menu-top.open {
	width: 100vw !important;
	transition: 0.9s;
}
/* Side Nav Header Area, /inc/sideNav/sideNavTop.php */
.sidenav #sideNavTop {
	top: 0px;
	position: absolute;
	height: 60px;
	left: 15px;
	width: 80vw;
}
/*Account Section - Nav top - Open Side Nav to 100%, /inc/sideNav/sideNavTop.php */
.sidenav #sideNavTop.row.open {
	width: 100vw !important;
	transition: 0.9s;
	background: #005495;
}
/* Side Nav inner Body */
.sidenav #innerMenu {
	width: 80vw;
	 transition:visibility 0.9s, opacity 0.9s;
}
/* Side Nav Menu Items*/
.sidenav #innerMenu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #f1f1f1;
	display: block;
	transition: 0.9s;
	border-bottom: 1px solid rgba(153, 153, 153, 0.45);
}
.sidenav #innerMenu a:hover, .sidenav #innerMenu a:focus {
	color: #f1f1f1;
	color: #fddb01;
}
/* Close Side Nav*/
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
/* Site Logo */
.sidenav .cc-logo {
	width: auto;
	height: 30px;
	margin-left: 11px;
}
.sidenav #menu-bar-center {
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}
.sidenav #menu-bar-left {
	padding: 0;
}
.sidenav #account_icon {
	width: auto;
	height: 40px;
}
/*Account ICON Div, inc/sideNav/sideNavTop.php */
.sidenav .account-icon {
	height: 60px;
	width: 70px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
    padding-top: 15px;

}

/* Account Area - Activated - ICON Div, inc/sideNav/sideNavTop.php */
.sidenav .account-icon.open {
	text-align: -webkit-center;
	line-height: 60px;
	height: 61px;
	vertical-align: middle;
	padding-top: 20px;
	background: aliceblue;
	  -webkit-transition: background-color 0.9s ease-out;
  -moz-transition: background-color 0.9s ease-out;
  -o-transition: background-color 0.9s ease-out;
  transition: background-color 0.9s ease-out;
}
/*Account Exit - ICON, inc/sideNav/sideNavTop.php */
.sidenav #account_exit-icon.open {
	width: 24px;
	height: 24px;
}

/* Account Area - Activated - Open Account Body to 100%*/
.sidenav #account-access.open {
	width: 100vw;
/*	height: 100vh; */
	background: aliceblue;
	transition: 0.9s;
  -webkit-transition: background-color 0.9s ease-out;
  -moz-transition: background-color 0.9s ease-out;
  -o-transition: background-color 0.9s ease-out;
  transition: background-color 0.9s ease-out;
}
/*Account Section - Disable Elements - When Side Nav Opens to 100% */
nav#header-bar #closemenu.open, .sidenav #account_icon.open, .sidenav #innerMenu.open, .sidenav #topmenu-GPS-icon.open, .sidenav #account_exit-icon, .sidenav #account-access {
	display: none !important;
}
/*Account Section - Enable Elements - When Side Nav Opens to 100% */
.sidenav #close-Sidemenu.open, .sidenav #account_exit-icon.open, .sidenav #account-access.open {
	display: block !important;
}


/**************** My Account Area  ****************/

/* Account Area - Signin / Login Area Hight, inc/accountAccess.php */
#account-access #membership-signin {
	height: 320px;
}
/* Account Area - Signup / Signup form Hight, inc/accountAccess.php */
#account-access #membership-signup {
    height: 345px;
}


/* My Account - Banner Area, inc/accountAccess.php  */
#account-access #members-advertising #header-banner {
    overflow: hidden;
    padding: 0;
}
/* My Account - Header Advertising - Image, inc/accountAccess.php  */
#account-access #members-advertising #header-banner .banner {
    width: 130%;
}
/* My Account - Header Advertising bottom Space, inc/accountAccess.php  */
#account-access #members-advertising {
    padding: 10px;
}
/* My Account - Members Form Area, inc/accountAccess.php  */
#account-access form#login-form {
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    background: #fff;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    display: block;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    z-index: 1;
}


/* My Account - Form Tabs, inc/accountAccess.php */
#account-access ul#membership-login-tabs {
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
   list-style-type: none;
}
/* , inc/accountAccess.php */
#account-access li.tab-item {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    float: left;
    position: relative;
    top: 1px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
    text-decoration: none;
    width: 50%;
    color: #07c;
    font-weight: bold;
    padding: 15px 10px 16px 10px;
    z-index: 1;
}
/* , inc/accountAccess.php */
#account-access li.login-tab.active-tab-item {
    background: #fff;
    color: #000 !important;
    font-weight: bold;
    padding: 15px 10px 16px 10px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
/* My Account - Terms and Conditions, inc/accountAccess.php */
#account-access #terms-conditions {
    text-align: center;
    margin: 10px;
    padding: 8px 5px;
    border-radius: 3px;
    line-height: 16px;
    text-decoration: none !important;
    font-size: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* , inc/signup.php */
/*, inc/signin.php */
#account-access .account-form-group {
    margin-bottom: 10px;
}
/* ************** * Browse All Products * ************** */
.sidenav #sideNavTop.row.active {
    width: 100vw !important;
    transition: 0.9s;
    background: #005495;
}

/*disabled items*/
.sidenav #account_icon.active, 
.sidenav #browse_all_product_exit-icon,
.sidenav #account_icon.active {
	    display: none !important;
	}

/* ************** * HOME PAGE Section * ************** */

/* Disable Home page when side menu is active, views/home.php */
#body-content.disable {
    opacity: 0.2;
}

/*REMOVE BULLETS FROM UL, views/home.php */

#home ul.col4 {
    list-style-type: none;
    padding: 0;
}
/* Product Image, views/home.php */
#home span.product-img {
    display: block;
}
/* Product Price, views/home.php */

#home span.price-regular {
    display: block;
    color: #000000;
    font-weight: bold !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1.7em !important;
    line-height: 1em;
    text-decoration: none !important;
}

/* Product Description, views/home.php */
#home span.product-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 160px;
    white-space: normal;
}